$orange: rgb(255, 141, 19);
$redorange: rgb(255, 117, 31);
$darkorange: rgb(163, 84, 0);
$green: rgb(155, 254, 113);
$yellowgreen: rgb(179, 243, 17);
$white: rgb(247, 247, 247);
$off-white: rgb(234, 225, 203);
$grey: rgb(153, 168, 143);
$darkgrey: rgb(56, 62, 52);
